body{
    margin : 0;
    padding : 0;
}
video{
    position: fixed;
    width : 100vw;
    height : 100vh;
    object-fit: cover;
    z-index:-1;
}
#menu {
    position: fixed; 
    top: 0;
    height: 73px;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    border-bottom: 0.1px solid;
  }
#name{
    position:absolute;
    top:-18px;
    left:-20px;
    width:220px;
}
#menu_id{
    font-size: 15px;
    font-weight: bolder;
}
#menu_id li{
    margin-top: 15px;
    margin-right: 40px;
    display: inline-block;
    list-style: none;
}